*{
    margin: 0;
    padding: 0;
}
header{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
header h1{
    color: white;
}
.section {
    border-radius: 15px;
    padding: 50px;
    background-color: red;
    margin: 25px;
}
.section-1 h2{
    color: white;
    font-size: 20px;
}
.section .box{
    display: flex;
    gap: 35px;
}
.section-1 .box-1{
    font-size: 20px;
    padding: 25px;
    width: 200px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}
.section-1 .box-2{
    font-size: 20px;
    padding: 25px;
    width: 200px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}
.section-2{
    border-radius: 15px;
    padding: 50px;
    background-color: green;
    margin: 25px;
}
.section-2 h2{
    color: white;
    font-size: 20px;
}
.section-2 .box-3{
    font-size: 20px;
    padding: 25px;
    width: 200px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}
.section-2 .box-4{
    font-size: 20px;
    padding: 25px;
    width: 200px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}
.section-3{
    border-radius: 15px;
    padding: 50px;
    background-color:  purple;
    margin: 25px;
}
.section-3 h2{
    color: white;
    font-size: 20px;
}
.section-3 .box-5{
    font-size: 20px;
    padding: 25px;
    width: 200px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}
.section-3 .box-6{
    font-size: 20px;
    padding: 25px;
    width: 200px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}