/*Estilo básico*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;/*Distancia entre linhas*/
}
header{
    background-color: #3498db;
    color: white;
    padding: 1rem; /*Padding rem para consistência com o tamanho da fonte raiz*//*padrao 16px*/
    text-align: center;
}
.main-content{
    padding: 2rem;/*Espaçamento interno da área principal*/
    color: #3498db;
}
.section {
    padding: 2em;/*Padding em, relativo ao tamanho da fonte do pai*/
    border-radius: 8px;
    margin-bottom: 2em;/*Espaço abaixo de cada seção*/
    position: relative;/**/
}
.section-1{
    background-color: #e74c3c;
    color: white;
}
.section-2{
    background-color: #2ecc71;
    color: white;
}
.section-3{
    background-color: #f39c12;
    color: white;
}
/* Estilo das caixas*/
.box {
    background-color: #fff;
    color: #000;
    padding: 2rem;/*Padding aumentado para maior visibilidade*/
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem; /*Tamanho da fonte aumentado para maior legibilidade*/
    box-sizing: border-box;/*Inclui padding e borda no cálculo da largura*/
}

/*layout das caixas*/
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
    width: calc(50% - 2rem); /*Largura das caixas ajustada para caber duas por linha com espaçamento*/
    float: left; /*Trabalha com a distribuição dos elemento ...*/
}

/*Limpeza do float*/
.section::after {
    content: "";/* Adiciona um elemento invisivel após o conteúdo da seção*/
    display: flex;/*Faz com que o elemento invisivel se comporte como um bloco, forçando o contêiner a incluir elementos flutuantes*/
    clear: both;/*Garante que o contêiner "limpe" os elementos flutuantes, evitando problemas de layout*/
}

/*Responsividade*/

/*Ajuste para telas grandes (largura acima de 1200px)*/
@media (min-width: 1200px) {
    .box {
        width: calc(33.333% - 2rem);/*Largura de 33.333% para três caixas por linha*/
    }
}

/*Ajuste para telas médias (largura até 1200px)*/
@media (max-width: 1200px) {
    .box {
        width: calc(50% - 2rem); /*Largura de 50% para duas caixas por linha*/
    }
}